<div th:fragment="menu" id="menu-outer" style="margin-top:10px;width:100%" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="inner" style="display:inline-block"><form th:action="@{/admin/home}" method="get">
        <button class="btn btn-md btn-info" name="home"
            type="Submit">Pagrindinis</button>
    </form></div>
     <div class="inner" style="display:inline-block"><form th:action="@{/passreset}" method="get">
        <button class="btn btn-md btn-info" name="passreset"
            type="Submit">Slaptaþodþio keitimas</button>
    </form>
    </div>
    <!-- TODO: pakeisti, kad nerodytu mygtuku vartojams kurie neturi prieigos -->
    <div class="inner" style="display:inline-block"><form th:action="@{/admin/userlist}" method="get">
        <button class="btn btn-md btn-info" name="userlist"
            type="Submit">Vartotojai</button>
    </form></div>
    <div class="inner" style="display:inline-block"><form th:action="@{/admin/ingredientlistedit}" method="get">
        <button class="btn btn-md btn-info" name="ingredientlist"
            type="Submit">Ingredientai</button>
    </form></div>
    <!-- TODO: pakeisti, kad nerodytu mygtuku vartojams kurie neturi prieigos -->
    <div class="inner" style="display:inline-block"><form th:action="@{/admin/recipeCreate}" method="get">
        <button class="btn btn-md btn-info" name="recipeCreate"
                type="Submit">Kurti receptÄ…</button>
    </form></div>
    <div class="inner" style="display:inline-block;float:right"><form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger" name="registration"
            type="Submit">Atsijungti</button>
    </form></div>

</div>